<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/chatstyle.css" />
	<title>Chat Assistant - StreamingFlow4J</title>

</head>
<body>
<header>
	<h1>StreamingFlow4J Chat Assistant</h1>
</header>

<div class="container">
	<form th:object="${chatForm}" action="#" th:action="@{/chat}" method="POST">
		<label for="messageText"><b>Your Message:</b></label>
		<textarea id="messageText" rows="5" th:field="*{messageText}"
				  placeholder="Type your message here..."></textarea>
		<label for="messageBroker"><b>Choose Message Broker:</b>
		<select id="messageBroker" th:field="*{messageBroker}">
			<option value="kafka">Kafka</option>
			<option value="rabbitmq">RabbitMQ</option>
			<option value="redis">Redis</option>
		</select>
		</label>
		<button id="submitMessage" type="submit">Send Message</button>
	</form>

	<div class="chat-container">
		<table class="chat-table">
			<tr th:each="chatMessage: ${chats}">
				<td>
					<div th:class="${chatMessage.role == 'User' ? 'message user-message' : 'message assistant-message'}">
						<div class="message-content" th:utext="${#strings.escapeXml(chatMessage.message)
                                .replace('\n', '<br>')
                                .replace('**', '<strong>')
                                .replace('**', '</strong>')
                                .replace('*', '<em>')
                                .replace('*', '</em>')
                                .replace('`', '<code>')
                                .replace('`', '</code>')}">
						</div>
						<div class="message-time" th:text="${#temporals.format(chatMessage.timestamp, 'HH:mm')}"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>