<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css" />
	<title>File Upload Page</title>
</head>
<body>
<header>
	<h1>Welcome to The File Upload!</h1>
</header>
<main>
	<div class="upload-container">
		<form action="#" enctype="multipart/form-data" th:action="@{/file-upload}" method="POST">
			<input type="file" id="fileUpload" name="fileUpload" multiple />
			<button type="submit">Upload Files</button>
		</form>
	</div>
</main>
</body>
</html>